<!DOCTYPE html>
<html lang="es-Es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <title>Animalandia</title>
    <script src="https://kit.fontawesome.com/a299d415c7.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <div class="logo">
            <img src="../assets/img/logo.jpg" alt="Logo Animalandia">
        </div>
        
    </header> 

    <nav>
        <a href="index.html" class="item">Home</a>
        <a href="equipo.html" class="item">Equipo</a>
        <a href="servicios.html" class="item">Servicios</a>
        <a href="agenda.html" class="item">Agenda</a>
        <a href="tips.html"class="item">Tips</a>
        <a href="contacto.html"class="item">Contacto</a>
    </nav>

    <main>
        <section id="banner">
            <img src="../assets/img/Banner contacto.svg" alt="banner">
        </section>
        <section id="contacto">
            <article class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15908.227640828107!2d-74.103688!3d4.583806!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcb94d4852598b934!2sKuepa%20-%20Restrepo!5e0!3m2!1ses-419!2sco!4v1646398001142!5m2!1ses-419!2sco" allowfullscreen="" loading="lazy"></iframe>
            </article>
            <article class="info-contacto">
                <h1>DATOS DE CONTACTO</h1>
                <p><i class="fa-solid fa-location-dot"></i><strong> Dirección</strong> Calle 22 # 18 - 55</p>
                <p><i class="fa-solid fa-phone"></i><strong>Teléfono</strong> 601 222 222</p>
                <p><i class="fa-solid fa-envelope"></i><strong>Email </strong>contacto@kuepa.com</p>
            </article>      
        
            <section class="form">
                <form id="fcont">
                    <h2>Contacto</h2>
                    <label for="">Nombre</label>
                    <input nombre="nombre" id="nombre" type="text"  >
                    <label for="">Correo</label>
                    <input nombre="correo" id="correo" type="email"  >
                    <label for="">Teléfono</label>
                    <input nombre="telefono" id="telefono" type="number" >
                    <label for="">Mensaje</label>
                    <div class="cajam"><input nombre="mensaje" id="mensaje" type="text" ></div>
                    <div class="espacio"><input type="submit" value="Enviar" id="benviar"></div>
                </form>
            </section>
        </section> 
        
        <footer>
            <div class="box-footer">
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
                
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
    
                <div class="foot">
                    <img src="../assets/img/bx-building 1.svg" alt="icono building">
                    <h3>Sedes</h3>
                    <p>Sede Kennedy <br>
                    Sede Suba <br>
                    Sede Fontibón <br>
                    Sede Centro
                    </p> 
                </div>
                
            </div>
        </footer>

    </main>

</body>
</html>