<!DOCTYPE html>
<html lang="es-Es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <title>Animalandia</title>
    <script src="https://kit.fontawesome.com/a299d415c7.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="logo">
            <img src="../assets/img/logo.jpg" alt="Logo animalandia">
        </div>
        <div class="sesion">
            <img src="../assets/img/golden.jpg" alt="">
            <span>
                <strong>Bienvenido,</strong><br>usuario
                <a href="login.html"><i class="fa-solid fa-right-from-bracket"></i></a>
            </span>
        </div>
    </header>
    <section id="dashboard">
        <article class="menuone">
            <ul>
                <li class="itemone"><a href="usuario/usuario.html"><i class="fa-solid fa-user"></i>Usuarios</a></li>
                <li class="itemone"><a href="cliente/"><i class="fa-solid fa-users"></i>Clientes</a></li>
                <li class="itemone"><a href="producto/producto.html"><i class="fa-solid fa-tag"></i>Producto</a></li>
                <li class="itemone"><a href="pedidos/"><i class="fa-solid fa-cart-shopping"></i>Pedidos</a></li>
                <li class="itemone"><a href=reportes.html><i class="fa-solid fa-arrow-trend-up"></i>Repotes</a></li>
            </ul>
        </article>
        <article class="contenido">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </article>
    </section>
</body>
</html>