<!DOCTYPE html>
<html lang="es-Es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <title>Animalandia</title>
    <script src="https://kit.fontawesome.com/a299d415c7.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="logo">
            <img src="../assets/img/logo.jpg" alt="Logo animalandia">
        </div>
        <div class="botones">
            <button class="bazul"><i class="fa-solid fa-power-off icono"></i>Ingresar</button>
            <button class="bmorado"><i class="fa-solid fa-user-plus icono"></i>Registrarse</button>
        </div>
    </header>

    <nav>
        <a href="index.html" class="item">Home</a>
        <a href="equipo.html" class="item">Equipo</a>
        <a href="servicios.html"class="item">Servicios</a>
        <a href="agenda.html"class="item">Agenda</a>
        <a href="tips.html"class="item">Tips</a>
        <a href="contacto.html"class="item">Contacto</a>
    </nav>

    <main >
        <section id="tipss" >
            <article class="tips">
            <article class="tipuno">
                    <div><h2 class="titulotip">¿Sabias Qué?</h2>
                    <img src="../assets/img/marliese-streefland-2l0CWTpcChI-unsplash.jpg" alt="Foto de perro">
                    </div>
                    <p>El contacto con un perro, con el cual se ha establecido un vínculo afectivo, hace que liberemos oxitocina, la hormona relacionada con el placer.<br><br>
                    También se reducen los niveles de cortisol en la sangre, indicador fisiológico del estrés y aumentan el nivel de endorfinas, un péptido que funciona como un neurotransmisor y que son las responsables de la sensación de bienestar.<br> <br>
                    Más allá de estos visibles beneficios, también el ritmo cardíaco se ve reducido y se fomenta la reducción de la presión arterial</p>
            </article>
            <article class="tipdos">
                <img src="../assets/img/alvan-nee-ZCHj_2lJP00-unsplash.jpg" alt="Foto de gato">
                <div>
                    <h2 class="titulotip">Tenencia Responsable</h2>
                <p>Los estudios demuestran que las personas con animales de compañía suelen estar más sanas y felices que aquellas que no los tienen, además, sabemos lo maravilloso que es volver a casa al final de un duro día y escuchar el ronroneo de satisfacción de una adorable bola de pelo; es por ello que no tenemos duda de que los gatos son grandes mascotas, pero también una gran responsabilidad y un compromiso de por vida.</p>
            </div>

            </article>
        </article>
        </section>
    </main>
    <footer>
        <div class="box-footer">
            <div class="foot">
                <img src="../assets/img/bx-building 1.svg" alt="icono-building">
                <h3>Sedes</h3>
                <p>Sede Rosales<br>Sede Kennedy<br>Sede Suba<br>Sede Chía<br>Sede Fontibon</p>
            </div>
            <div class="foot">
                <img src="../assets/img/bx-building 1.svg" alt="icono-building">
                <h3>Sedes</h3>
                <p>Sede Rosales<br>Sede Kennedy<br>Sede Suba<br>Sede Chía<br>Sede Fontibon</p>
            </div>
            <div class="foot">
                <img src="../assets/img/bx-building 1.svg" alt="icono-building">
                <h3>Sedes</h3>
                <p>Sede Rosales<br>Sede Kennedy<br>Sede Suba<br>Sede Chía<br>Sede Fontibon</p>
            </div>
        </div>
    </footer>
</body>
</html>