<!DOCTYPE html>
<html lang="es-Es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../assets/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css">
    <title>Animalandia</title>
    <script src="https://kit.fontawesome.com/a299d415c7.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="logo">
            <img src="../../assets/img/logo.jpg" alt="Logo animalandia">
            <span>
                <a href="../dashboard.html"><br><strong>Home</strong>
                <i class="fa-solid fa-arrow-rotate-left"></i></a>
            </span>
        </div>
        <div class="sesion">
            <img src="../../assets/img/golden.jpg" alt="">
            <span>
                <strong>Bienvenido,</strong><br>usuario
                <a href="login.html"><i class="fa-solid fa-right-from-bracket"></i></a>
            </span>
        </div>
    </header>
    <section id="dashboard">
        <article class="menuone">
            <ul>
                <li class="item1"><a href="../usuario/usuario.html" class="fa-solid fa-user"></i>Usuarios</a></li>
                <li class="item1"><a href="../cliente/cliente.html"><i class="fa-solid fa-users"></i>Clientes</a></li>
                <li class="item1"><a href="producto.html"><i class="fa-solid fa-tag"></i>Productos</a></li>
                <li class="item1"><a href="../pedidos/pedido.html"><i class="fa-solid fa-cart-shopping"></i>Pedidos</a></li>
                <li class="item1"><a href=""><i class="fa-solid fa-arrow-trend-up"></i>Reportes</a></li>
            </ul>
        </article>
        <article class="contenido">
            <form action="" method="" class="formproducto">
                <div class="formgroup">
                    <label for="descripcion" class="formlabel">Descripción</label>
                    <input type="text" name="descripcion" id="descripcion" class="forminput" placeholder="Ingresa la descripción del producto">
                </div>
                <div class="formgroup">
                    <label for="nombre" class="formlabel">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="forminput" placeholder="Ingresa el nombre del producto">
                </div>
                <div class="formgroup" class="formlabel">
                    <label for="precio"class="formlabel">Precio</label>
                    <input type="number" name="precio" id="precio" class="forminput" placeholder="Ingresa el precio del producto">
                </div>
                <div class="formgroup" class="formlabel">
                    <label for="categoria"class="formlabel">Categoria</label>
                    <select name="categoria" class="forminput">
                    <c:foreach>
                        <option value="id">Juguetes</option>
                    </c:foreach>
                    <c:foreach>
                        <option value="id1">Concentrado</option>
                    </c:foreach>
                    <c:foreach>
                        <option value="id2">Medicamentos</option>
                    </c:foreach>
                    <c:foreach>
                        <option value="id3">Accesorios</option>
                    </c:foreach>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" name="guardar" value="Guardar" class="form-button btnmorado">
                </div>
            </form>

        </article>
    </section>
</body>
</html>